# ------------------------------------------------------------------------------------------------------------------------------
# tempolary
# ------------------------------------------------------------------------------------------------------------------------------
*~
*#
*.bak
*.tmproj
.buildpath
.project
.settings
.idea
.tmp
.netbeans
nbproject


# ------------------------------------------------------------------------------------------------------------------------------
# generated
# ------------------------------------------------------------------------------------------------------------------------------
# OS
Thumbs.db
desktop.ini
.DS_Store
.DS_STORE

# Node.js
lib
node_modules
npm-debug.log
yarn-error.log
*.tsbuildinfo

# bundler
.cache
.next
.vercel

# coverage
coverage

# datastore emulator
emulators

# ------------------------------------------------------------------------------------------------------------------------------
# environment
# ------------------------------------------------------------------------------------------------------------------------------
.env
